In [12]:
df.head(15)

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,AstPer90,G+APer90,G-PKPer90,G+A-PKPer90,xGPer90,xAGPer90,xG+xAGPer90,npxGPer90,npxG+xAGPer90,League
0,228,Achraf Hakimi,ma MAR,DF,Paris S-G,25,1998,25,24,2066,...,0.26,0.44,0.17,0.44,0.13,0.27,0.40,0.13,0.40,Ligue 1
1,319,Alexis Mac Allister,ar ARG,MF,Liverpool,25,1998,35,30,2599,...,0.17,0.35,0.17,0.35,0.10,0.16,0.26,0.10,0.26,Premier League
2,408,Cole Palmer,eng ENG,"MF,FW",Chelsea,22,2002,37,36,3191,...,0.23,0.65,0.31,0.54,0.49,0.31,0.79,0.38,0.68,Premier League
3,435,Declan Rice,eng ENG,MF,Arsenal,25,1999,35,33,2825,...,0.22,0.35,0.13,0.35,0.11,0.21,0.32,0.11,0.32,Premier League
4,180,Denzel Dumfries,nl NED,"DF,FW",Inter,28,1996,29,20,1955,...,0.09,0.41,0.32,0.41,0.25,0.15,0.40,0.25,0.40,Serie A
5,174,D√©sir√© Dou√©,fr FRA,"FW,MF",Paris S-G,19,2005,31,18,1730,...,0.31,0.62,0.31,0.62,0.27,0.41,0.67,0.27,0.67,Ligue 1
6,225,Erling Haaland,no NOR,FW,Manchester City,24,2000,31,31,2736,...,0.10,0.82,0.62,0.72,0.72,0.10,0.82,0.62,0.72,Premier League
7,478,Florian Wirtz,de GER,"MF,FW",Leverkusen,21,2003,31,25,2351,...,0.46,0.84,0.31,0.77,0.36,0.27,0.63,0.23,0.50,Bundesliga
8,172,Gianluigi Donnarumma,it ITA,GK,Paris S-G,25,1999,24,24,2091,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Ligue 1
9,207,Harry Kane,eng ENG,FW,Bayern Munich,31,1993,31,28,2381,...,0.34,1.32,0.64,0.98,0.77,0.20,0.97,0.50,0.70,Bundesliga
10,394,Jo√£o Neves,pt POR,"MF,DF",Paris S-G,19,2004,29,22,1844,...,0.39,0.54,0.15,0.54,0.15,0.20,0.34,0.15,0.34,Ligue 1
11,80,Jude Bellingham,eng ENG,MF,Real Madrid,21,2003,31,29,2488,...,0.29,0.61,0.29,0.58,0.41,0.14,0.55,0.36,0.50,La Liga
12,311,Khvicha Kvaratskhelia,ge GEO,"FW,MF",Napoli,23,2001,17,15,1178,...,0.23,0.61,0.31,0.53,0.32,0.28,0.60,0.26,0.54,Serie A
13,288,Khvicha Kvaratskhelia,ge GEO,FW,Paris S-G,23,2001,14,11,916,...,0.29,0.69,0.39,0.69,0.32,0.48,0.80,0.32,0.80,Ligue 1
14,360,Kylian Mbapp√©,fr FRA,FW,Real Madrid,25,1998,34,34,2907,...,0.09,1.05,0.74,0.84,0.80,0.24,1.04,0.58,0.81,La Liga

In [ ]:


import pandas as pd

# 1Ô∏è‚É£ Leer el archivo CSV
ruta = r"C:\Users\juanl\Downloads\ballondor_2025_nominees_dataset.csv"
df = pd.read_csv(ruta)

# 2Ô∏è‚É£ Mostrar forma, info general y estad√≠sticas
print("üîπ Forma del dataset:", df.shape)
print("\nüîπ Informaci√≥n general:")
print(df.info())
print("\nüîπ Estad√≠sticas descriptivas:")
print(df.describe(include='all'))

# 3Ô∏è‚É£ Generar nuevo dataset con filtro (ejemplo: jugadores con m√°s de 20 goles)
df_filtrado = df[df['Gls'] > 20]
print("\nüîπ Dataset filtrado (Goles > 20):")
print(df_filtrado[['Player', 'Squad', 'Gls']])

# 4Ô∏è‚É£ Generar nuevo dataset con ordenamiento (ejemplo: por asistencias descendente)
df_ordenado = df.sort_values(by='Ast', ascending=False)
print("\nüîπ Dataset ordenado por asistencias:")
print(df_ordenado[['Player', 'Squad', 'Ast']])

df_filtrado.to_csv("filtrado_goles.csv", index=False)
df_ordenado.to_csv("ordenado_asistencias.csv", index=False)

df_filtrado.head()
df_ordenado.head()

üîπ Forma del dataset: (30, 37)

üîπ Informaci√≥n general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 37 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rk             30 non-null     int64
 1   Player         30 non-null     object
 2   Nation         30 non-null     object
 3   Pos            30 non-null     object
 4   Squad          30 non-null     object
 5   Age            30 non-null     int64
 6   Born           30 non-null     int64
 7   MP             30 non-null     int64
 8   Starts         30 non-null     int64
 9   Min            30 non-null     int64
 10  90s            30 non-null     float64
 11  Gls            30 non-null     int64
 12  Ast            30 non-null     int64
 13  G+A            30 non-null     int64
 14  G-PK           30 non-null     int64
 15  PK             30 non-null     int64
 16  PKatt          30 non-null     int64
 17  CrdY           30 non-null     int64
 18  CrdR           30 non-null     int64
 19  xG             30 non-null     float64
 20  npxG           30 non-null     float64
 21  xAG            30 non-null     float64
 22  npxG+xAG       30 non-null     float64
 23  PrgC           30 non-null     int64
 24  PrgP           30 non-null     int64
 25  PrgR           30 non-null     int64
 26  GlsPer90       30 non-null     float64
 27  AstPer90       30 non-null     float64
 28  G+APer90       30 non-null     float64
 29  G-PKPer90      30 non-null     float64
 30  G+A-PKPer90    30 non-null     float64
 31  xGPer90        30 non-null     float64
 32  xAGPer90       30 non-null     float64
 33  xG+xAGPer90    30 non-null     float64
 34  npxGPer90      30 non-null     float64
 35  npxG+xAGPer90  30 non-null     float64
 36  League         30 non-null     object
dtypes: float64(15), int64(17), object(5)
memory usage: 8.8+ KB
None

üîπ Estad√≠sticas descriptivas:
                Rk           Player   Nation  Pos      Squad        Age  \
count    30.000000               30       30   30         30  30.000000
unique         NaN               28       17    8         14        NaN
top            NaN  Scott McTominay  eng ENG   FW  Paris S-G        NaN
freq           NaN                2        4   11          8        NaN
mean    329.300000              NaN      NaN  NaN        NaN  25.000000
std     130.080651              NaN      NaN  NaN        NaN   4.177113
min      80.000000              NaN      NaN  NaN        NaN  17.000000
25%     225.750000              NaN      NaN  NaN        NaN  22.000000
50%     333.000000              NaN      NaN  NaN        NaN  25.000000
75%     428.250000              NaN      NaN  NaN        NaN  27.000000
max     595.000000              NaN      NaN  NaN        NaN  35.000000

               Born         MP     Starts          Min  ...   AstPer90  \
count     30.000000  30.000000  30.000000    30.000000  ...  30.000000
unique          NaN        NaN        NaN          NaN  ...        NaN
top             NaN        NaN        NaN          NaN  ...        NaN
freq            NaN        NaN        NaN          NaN  ...        NaN
mean    1998.633333  29.900000  26.533333  2330.166667  ...   0.219667
std        4.238439   7.680472   8.471996   736.752898  ...   0.148683
min     1988.000000   2.000000   0.000000    19.000000  ...   0.000000
25%     1996.000000  29.000000  20.500000  1976.750000  ...   0.102500
50%     1998.500000  31.000000  29.000000  2526.000000  ...   0.220000
75%     2001.750000  34.750000  32.000000  2835.500000  ...   0.305000
max     2007.000000  38.000000  38.000000  3371.000000  ...   0.580000

         G+APer90  G-PKPer90  G+A-PKPer90    xGPer90   xAGPer90  xG+xAGPer90  \
count   30.000000  30.000000    30.000000  30.000000  30.000000    30.000000
unique        NaN        NaN          NaN        NaN        NaN          NaN
top           NaN        NaN          NaN        NaN        NaN          NaN
freq          NaN        NaN          NaN        NaN        NaN          NaN
mean     0.658333   0.372000     0.592333   0.405333   0.228000     0.632000
std      0.398143   0.267574     0.330712   0.290169   0.138872     0.340926
min      0.000000   0.000000     0.000000   0.000000   0.000000     0.000000
25%      0.365000   0.155000     0.365000   0.150000   0.140000     0.332500
50%      0.615000   0.310000     0.560000   0.325000   0.220000     0.625000
75%      0.867500   0.525000     0.785000   0.655000   0.302500     0.900000
max      1.480000   1.040000     1.350000   0.990000   0.480000     1.290000

        npxGPer90  npxG+xAGPer90   League
count   30.000000      30.000000       30
unique        NaN            NaN        6
top           NaN            NaN  Ligue 1
freq          NaN            NaN        8
mean     0.345333       0.572000      NaN
std      0.231944       0.292379      NaN
min      0.000000       0.000000      NaN
25%      0.135000       0.332500      NaN
50%      0.315000       0.580000      NaN
75%      0.497500       0.807500      NaN
max      0.820000       1.250000      NaN

[11 rows x 37 columns]

üîπ Dataset filtrado (Goles > 20):
                Player            Squad  Gls
6       Erling Haaland  Manchester City   22
9           Harry Kane    Bayern Munich   26
14       Kylian Mbapp√©      Real Madrid   31
18       Mohamed Salah        Liverpool   29
20     Ousmane Demb√©l√©        Paris S-G   21
23  Robert Lewandowski        Barcelona   27
26     Serhou Guirassy         Dortmund   21
27     Viktor Gy√∂keres      Sporting CP   39

üîπ Dataset ordenado por asistencias:
                   Player            Squad  Ast
18          Mohamed Salah        Liverpool   18
17          Michael Olise    Bayern Munich   15
15           Lamine Yamal        Barcelona   13
7           Florian Wirtz       Leverkusen   12
22               Raphinha        Barcelona    9
9              Harry Kane    Bayern Munich    9
10             Jo√£o Neves        Paris S-G    8
11        Jude Bellingham      Real Madrid    8
2             Cole Palmer          Chelsea    8
27        Viktor Gy√∂keres      Sporting CP    7
3             Declan Rice          Arsenal    7
0           Achraf Hakimi        Paris S-G    6
20        Ousmane Demb√©l√©        Paris S-G    6
5             D√©sir√© Dou√©        Paris S-G    6
21                  Pedri        Barcelona    5
1     Alexis Mac Allister        Liverpool    5
24        Scott McTominay           Napoli    4
26        Serhou Guirassy         Dortmund    4
12  Khvicha Kvaratskhelia           Napoli    3
19            Nuno Mendes        Paris S-G    3
6          Erling Haaland  Manchester City    3
13  Khvicha Kvaratskhelia        Paris S-G    3
14          Kylian Mbapp√©      Real Madrid    3
16       Lautaro Mart√≠nez            Inter    3
23     Robert Lewandowski        Barcelona    2
4         Denzel Dumfries            Inter    2
29                Vitinha        Paris S-G    1
28        Virgil van Dijk        Liverpool    1
8    Gianluigi Donnarumma        Paris S-G    0
25        Scott McTominay   Manchester Utd    0

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,AstPer90,G+APer90,G-PKPer90,G+A-PKPer90,xGPer90,xAGPer90,xG+xAGPer90,npxGPer90,npxG+xAGPer90,League
18,449,Mohamed Salah,eg EGY,FW,Liverpool,32,1992,38,38,3371,...,0.48,1.25,0.53,1.01,0.67,0.38,1.05,0.49,0.87,Premier League
17,315,Michael Olise,fr FRA,"FW,MF",Bayern Munich,22,2001,34,28,2334,...,0.58,1.04,0.46,1.04,0.38,0.46,0.84,0.38,0.84,Bundesliga
15,595,Lamine Yamal,es ESP,FW,Barcelona,17,2007,35,31,2856,...,0.41,0.69,0.28,0.69,0.31,0.44,0.75,0.31,0.75,La Liga
7,478,Florian Wirtz,de GER,"MF,FW",Leverkusen,21,2003,31,25,2351,...,0.46,0.84,0.31,0.77,0.36,0.27,0.63,0.23,0.50,Bundesliga
22,465,Raphinha,br BRA,"FW,MF",Barcelona,27,1996,36,32,2839,...,0.29,0.86,0.51,0.79,0.61,0.40,1.01,0.56,0.96,La Liga